*, *::before, *::after{
    box-sizing:border-box;
}

body {
    font-weight: 300;
    font-family: "SF Pro Text",-apple-system, BlinkMacSystemFont, "Segoe UI",
    "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 24px;
    line-height: 36px;
}
h2 {
    font-weight: 500 !important;  /*medium*/
    line-height: 48px;
    font-size: 32px;
    margin-bottom: 8px;
}
h2 > span {
    font-weight: 600 !important;
    font-size: 24px;
}
h3 {
    font-weight: 500 !important;  /*medium*/
}
.title {
    border-bottom: 1px solid #000;
    margin-bottom: 16px;
}
.skill {
    text-align: center;
    width:996px;
    margin-left: auto;
    margin-right: auto;
}
.skill > h2 {
    border-bottom: 1px solid #fff;
}
.contact {
    border-bottom: 1px solid #fff;
    width: 1200px;
    padding-top: 24px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.fwMedium {
    font-weight: 500 !important;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.header {
    font-size: 80px;
    line-height: 95px;
    font-weight: 400; /*normal*/
    padding-top: 40px;
    padding-bottom: 24px;
    margin-bottom: 48px;
    border-bottom: 2px solid #000;
}
.photo {
    width: 324px;
    height: 324px;
    margin-bottom: 48px;
    display: block;
}
.brandLogo {
    width: 100px;
    height: 100px;
    display: block;
}
.mediaIcon {
    width: 40px;
    height: 40px;
}

.expDescription {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}

.dFlex {
    display: flex;
}
.jcc {
    justify-content: center;
}
.contactInfo {
    text-align: center;
}
.contactInfo > ul > li {
    margin-bottom: 16px;
}
.textRed {
    color: #A00404;
}
.textWhite {
    color: white;
}
.bgGray {
    background:#415165;
}

.w642 {
    width: 642px;
}

.pb40 {
    padding-bottom: 40px;
}
.pt24 {
    padding-top: 24px;
}
.pt64 {
    padding-top: 64px;
}
.mb8 {
    margin-bottom: 8px;
}
.mb16 {
    margin-bottom: 16px;
}
.mb24 {
    margin-bottom: 24px;
}
.mb40 {
    margin-bottom: 40px;
}
.mb64 {
    margin-bottom: 64px;
}
.mb70 {
    margin-bottom: 70px;
}
.mb80 {
    margin-bottom: 80px;
}

.mr24 {
    margin-right: 24px;
}

.skillList {
    border-left: 1px solid #96a9c4;
    padding-left: 23px;
    display: inline-block;
    text-align-last: left;
}

.verticalLine2 {
    border-left: 1px solid #96a9c4;
    padding-left: 24px;
    margin-left: 24px;
}
