body {
    font-weight: 300;
}
.fontMandrin {
    font-family:"PingFang TC";
}
.fontEng {
    font-family:"SF Pro Text";
}
.fz24 {
    font-size: 24px;
}
div > h2 {
    font-family:"PingFang TC";
    font-weight: 500 !important;  /*medium*/
    line-height: 48px;
}
div > h3 {
    font-family:"SF Pro Text";
    font-weight: 600 !important;
    line-height: 36px;
}
div.mb16 {
    border-bottom: 1px solid #000;
}
div.mb24 {
    border-bottom: 1px solid #fff;
}
.fwMedium {
    font-weight: 500 !important;
}
.container {
    padding-left: 360px;
    padding-right: 360px;
}
.header {
    font-size: 80px;
    line-height: 95px;
    font-weight: 400; /*normal*/
    padding-top: 40px;
    padding-bottom: 24px;
    margin-bottom: 48px;
    border-bottom: 2px solid #000;
}
.photo {
    width: 324px;
    height: 324px;
    margin-bottom: 48px;
    display: block;
}
.brandLogo {
    width: 100px;
    height: 100px;
    display: block;
}
.mediaIcon {
    width: 40px;
    height: 40px;
}

.dFlex {
    display: flex;
}
.dFlex > h2 {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 8px;
    margin-right: 16px;
}
.paragraphContent {
    line-height: 36px;
}
.expDescription {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}

.jcc {
    justify-content: center;
}
.tac {
    text-align: center;
}
.aic {
    align-items: center;
}
.textRed {
    color: #A00404;
}
.textWhite {
    color: white;
}
.bgGray {
    background:#415165;
}

.w642 {
    width: 642px;
}
.w996 {
    width:996px;
}

.pb40 {
    padding-bottom: 40px;
}
.pt24 {
    padding-top: 24px;
}
.pt64 {
    padding-top: 64px;
}
.mb8 {
    margin-bottom: 8px;
}
.mb16 {
    margin-bottom: 16px;
}
.mb24 {
    margin-bottom: 24px;
}
.mb40 {
    margin-bottom: 40px;
}
.mb64 {
    margin-bottom: 64px;
}
.mb70 {
    margin-bottom: 70px;
}
.mb80 {
    margin-bottom: 80px;
}

.mr24 {
    margin-right: 24px;
}

.verticalLine {
    border-left: 1px solid #96a9c4;
    padding-left: 23px;
}

.verticalLine2 {
    border-left: 1px solid #96a9c4;
    padding-left: 24px;
    margin-left: 24px;
}
